

.button-container {
  margin-bottom: 3em;
}

.page-head {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

div.app{
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

div.jumbotron
{
  border-radius: 20px;
}
